table.display th,
table.display td {
  border: 1px solid #b3bfaa;
}

#microp-box {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}
table.display {
  margin-bottom: 15px;
  margin-top: 19px;
}

table.display th {
  background: #d5e0cc;
  padding: 8px;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  width: 109px;
}
table.display td {
  text-align: center;

  font-size: 15px;
  background: #fff;
}

table.responsive-table {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

textarea {
  margin-top: 10px;
  width: 100%;
  resize: none;
  height: 470px;
  border: 0.5px solid #000000;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.memoreis_table {
  width: 28%;
  margin-right: 20px;
}

.textarea_box {
  width: 22%;
  margin-right: 20px;
}

label {
  margin-left: 5%;
  font-size: 20px;
}

.micromemory-table {
  margin-top: 10px;
  font-size: 0.8rem;
}

.micromemory-table p {
  font-size: 1rem;
  margin: 0 0 0.2rem 0;
}

.micromemory-table table {
  table-layout: fixed;
  overflow-y: auto;
  height: 476px;
  display: block;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: 0.5px solid #000000;
}

.micromemory-table table,
.micromemory-table tr,
.micromemory-table td {
  border-collapse: collapse;
  border: 0.5px solid #000000;
}

.memory-table {
  margin-top: 10px;
  font-size: 0.8rem;
}

.memory-table p {
  font-size: 1rem;
  margin: 0 0 0.2rem 0;
}

.memory-table table {
  table-layout: fixed;
  overflow-y: auto;
  height: 476px;
  display: block;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: 0.5px solid #000000;
}

.memory-table table,
.memory-table tr,
.memory-table td {
  border-collapse: collapse;
  border: 0.5px solid #000000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #81ecff;
  font-family: 'Pangolin', cursive;
}

body {
  padding: 1em;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAQElEQVQIW2P89OvDfwYo+PHjJ4zJwMHBzsAIk0SXAKkCS2KTAEu++vQSbizIKGQAl0SXAJkGlsQmAbcT2Shk+wH0sCzAEOZW1AAAAABJRU5ErkJggg==);
}
a {
  color: #739931;
}
.page {
  max-width: 60em;
  margin: 0 auto;
}

.memory-table tr,
.memory-table td {
  padding: 0.2rem;
}

.bold-text {
  font-weight: 900;
}

textarea:focus {
  outline: 0;
}

.text-center {
  text-align: center;
}

.sticky-header {
  top: 0;
  position: sticky;
  background-color: #d5e0cc;
  color: black;
}

.btn {
  margin-top: 16px;
  text-align: center;
  margin-left: 10px;
  width: 180px;
  font-family: 'Pangolin', cursive;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #000000;
  background-color: #d5e0cc;
  border-radius: 8px;
  border: solid #5a5a5a 3px;
  font-size: 16px;
}

.btn:hover {
  background-color: #5a5a5a;
  color: #fff;
}

.btn:active {
  transform: scale(0.9);
}
